In [1]:
# libreria que me permite conectar mysql con PYTHON
pip install mysql.connector

Collecting mysql.connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-win_amd64.whl size=247965 sha256=4e3d682d41da0f6f00e1a8c4d839fcecde2f251a235462abb0df51d975fd360b
  Stored in directory: c:\users\devel\appdata\local\pip\cache\wheels\42\2f\c3\692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\base_datos_curso\bd_python\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
#conectarte a una base de datos desde mysql
import mysql.connector as mysql
db = mysql.connect(
    host = "localhost",
    user = "root",
    password =""
   )

conn= db.cursor()
conn.execute("create database socios")

In [4]:
#crear una tabla
db = mysql.connect(
    host = "localhost",
    user = "root",
    password ="",
    database="socios"
   )

conn= db.cursor()
conn.execute(
    """
     create table personas(
      id int primary key auto_increment,
      nombre varchar(255) not null,
      edad int not null,
      genero varchar(255)
      
     )
    """
)

In [5]:
query = "insert into personas (nombre,edad,genero) values (%s,%s,%s)"
params = [ #listas
    ("Ana",23,"Mujer"), #tuplas = Registros
    ("Beto",17,"Hombre"),
    ("Carla",28, "Mujer"),
    ("Daniel" ,32 ,"Hombre")
]

conn.executemany(query,params)

db.commit() #insertar fisicamente registros en la tabla

In [6]:
conn.execute("Select * from personas")
result = conn.fetchall() #todos los registros
result

[(1, 'Ana', 23, 'Mujer'),
 (2, 'Beto', 17, 'Hombre'),
 (3, 'Carla', 28, 'Mujer'),
 (4, 'Daniel', 32, 'Hombre')]

## conectar a una base de datos

In [18]:
import pandas as pd
import mysql.connector
cnx = mysql.connector.connect(user='root',password='',database='socios_2')
query = pd.read_sql_query
data_frame = query('SELECT * FROM PERSONAS' , cnx)
data_frame

   id   nombre  edad     genero  estado
0   1  ARMANDO    28  Masculino       1
1   2    Maria    23   Femenino       1